accelerate==1.11.0
biopython==1.85
biotite==1.4.0
deepspeed==0.17.5
einops==0.8.1
esm==3.2.3
gemmi==0.6.7
huggingface-hub==0.35.3
hydra-core==1.3.2
joblib==1.5.2
ml_collections==1.1.0
numpy==1.26.4
omegaconf==2.3.0
pandas==2.3.1
peft==0.17.1
PyYAML==6.0.2
scikit-learn==1.7.1
scikit-learn-extra==0.3.0
scipy==1.16.2
tmtools==0.3.0
tokenizers==0.21.4
torch==2.7.1+cu128
torch_cluster==1.6.3+pt27cu128
torch-geometric==2.7.0
torch_scatter==2.1.2+pt27cu128
torch_sparse==0.6.18+pt27cu128
torch_spline_conv==1.2.2+pt27cu128
torchvision==0.22.1+cu128
tqdm==4.67.1
transformers==4.48.1
triton==3.3.1
wandb==0.21.1
